*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
software/NoiseBLASTER_firmware.X/html/
software/NoiseBLASTER_firmware.X/nbproject/private/
software/NoiseBLASTER_firmware.X/nbproject/Package-*.bash
software/NoiseBLASTER_firmware.X/build/
software/NoiseBLASTER_firmware.X/nbbuild/
software/NoiseBLASTER_firmware.X/dist/
software/NoiseBLASTER_firmware.X/nbdist/
software/NoiseBLASTER_firmware.X/nbactions.xml
nb-configuration.xml
funclist
software/NoiseBLASTER_firmware.X/nbproject/Makefile-*
software/NoiseBLASTER_firmware.X/disassembly/
*.map

History
*.PrjPCBStructure
Project Outputs for *
Project Logs for *